mixin HeaderButtons
  .header__buttons 
    button.header__button.header__button--search
      include ../../assets/images/search.svg
  .header__buttons 
    button.header__button.header__button--heart
      include ../../assets/images/heart.svg
  .header__buttons 
    button.header__button.header__button--cart
      include ../../assets/images/cart.svg