mixin Socials(className)
  .socials(class=className)
    div.socials__item 
      a.socials__item__link(href="#")
        include ../assets/images/vk.svg
    div.socials__item 
      a.socials__item__link(href="#")
        include ../assets/images/tg.svg
    div.socials__item 
      a.socials__item__link(href="#")
        include ../assets/images/inst.svg
    div.socials__item 
      a.socials__item__link(href="#")
        include ../assets/images/wa.svg